<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watcher</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<div id="list-example">
    <h1>list-example</h1>
    <ul>
        <li v-for="item in evenNumber">
            {{item}}
        </li>
    </ul>
</div>
<div id="list-example2">
    <h1>list-example2</h1>
    <ul>
        <li v-for="item in even(items)">
            {{item}}
        </li>
    </ul>
</div>
<div id="todo-list-example">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
        >
        <button>Add</button>
    </form>
    <ul>
        <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
        ></li>
    </ul>
</div>
</body>
</html>

<script>
    var listexample = new Vue({
        el: '#list-example',
        data: {
            items: [0,1,2,3,4,5,6]
        },
        computed: {
            evenNumber: function(items){
                return this.items.filter(function(number){
                    return number % 2 === 0
                })
            }
        }
    })
    var listexample = new Vue({
        el: '#list-example2',
        data: {
            items: [0,1,2,3,4,5,6]
        },
        methods: {
            even: function(items){
                return this.items.filter(function(number){
                    return number % 2 === 0
                })
            }
        }
    })

    Vue.component('todo-item', {
        template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">Remove</button>\
    </li>\
  ',
        props: ['title']
    })

    new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
                {
                    id: 1,
                    title: 'Do the dishes',
                },
                {
                    id: 2,
                    title: 'Take out the trash',
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            }
        }
    })
</script>
